In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
from scipy import stats

In [2]:
file_loc = ""
df_MRI_region_dict=pd.read_csv(file_loc + 'mri_regional_dict6_region_code_volume_2.csv')
df_MRI_region_dict.shape

(155, 3)

In [3]:
df_MRI_region_dict.head()

  ADNI Code                            Description                  Region
0   ST131HS  N mm3 Hippocampal Subfields Volume of                 LeftCA1
1   ST132HS  N mm3 Hippocampal Subfields Volume of               LeftCA2_3
2   ST133HS  N mm3 Hippocampal Subfields Volume of              LeftCA4_DG
3   ST134HS  N mm3 Hippocampal Subfields Volume of             LeftFimbria
4   ST135HS  N mm3 Hippocampal Subfields Volume of  LeftHippocampalFissure

In [4]:
df_mri_adni1 = pd.read_csv(file_loc + 'UCSFFSX51_ADNI1_3T_02_01_16.csv')
df_mri_adni2 = pd.read_csv(file_loc + 'UCSFFSX51_11_08_19.csv')
df_mri_adni3 = pd.read_csv(file_loc + 'UCSFFSX6_ADNI3_08_17_22.csv')

df_mri_adni2 = df_mri_adni2[df_mri_adni2['IMAGETYPE']=='Non-Accelerated T1']

In [5]:
df_mri_adni1['VISCODE2']=df_mri_adni1['VISCODE']
df_mri_adni1.shape,df_mri_adni2.shape,df_mri_adni3.shape

((484, 395), (4424, 365), (1879, 346))

In [6]:
df_mri_adni1[df_mri_adni1.columns[df_mri_adni1.columns.isin(df_MRI_region_dict['ADNI Code'])]].shape

(484, 155)

In [7]:
df_mri_adni2[df_mri_adni2.columns[df_mri_adni2.columns.isin(df_MRI_region_dict['ADNI Code'])]].shape

(4424, 135)

In [8]:
df_mri_adni3[df_mri_adni3.columns[df_mri_adni3.columns.isin(df_MRI_region_dict['ADNI Code'])]].shape

(1879, 119)

In [9]:
df_mri_adni3_MRI_region_dict=df_mri_adni3[df_mri_adni3.columns[df_mri_adni3.columns.isin(df_MRI_region_dict['ADNI Code'])]].columns.tolist()
len(df_mri_adni3_MRI_region_dict)

119

In [10]:
df_mri_adni1['VISCODE2'].value_counts()

m12    113
bl     112
m06     97
m24     87
m36     39
m18     36
Name: VISCODE2, dtype: int64

In [11]:
df_mri_adni2['VISCODE2'].value_counts()

scmri    987
m03      788
m12      721
m06      711
m24      619
m48      266
m36      122
m60       43
m84       42
m72       41
m96       37
m108      25
m120      15
nv         7
Name: VISCODE2, dtype: int64

In [12]:
df_mri_adni3['VISCODE2'].value_counts().head(10)

sc     680
m12    182
m24    155
m72    105
m90     71
m66     66
m78     66
m84     58
m96     58
m48     52
Name: VISCODE2, dtype: int64

In [13]:
file_loc1 = "../ADNI_data/"

df_REGISTRY=pd.read_csv(file_loc1 + 'REGISTRY_18Aug2023.csv')
df_DX = pd.read_csv(file_loc1 + 'DXSUM_PDXCONV_ADNIALL_Diagnostic Summary_standardised.csv')
df_PTDEMOG = pd.read_csv(file_loc1 + 'PTDEMOG_18Aug2023.csv')
df_APOERES = pd.read_csv(file_loc1 + 'APOERES_23Aug2023.csv')

df_adnimerge=pd.read_csv(file_loc1 + 'ADNIMERGE_May15.2014.csv')
left_desikan_df = pd.read_csv(file_loc1 + 'Left_Desikan_34_regions.csv')
Right_desikan_df = pd.read_csv(file_loc1 + 'Right_Desikan_34_regions.csv')
Right_subcortical_df = pd.read_csv(file_loc1 + 'Right_subcortical_regions.csv')



df_REGISTRY.shape,df_DX.shape,df_PTDEMOG.shape

((26272, 22), (13491, 10), (4856, 32))

In [14]:
df_medhist_disease = pd.read_csv(
    file_loc + 'df_medhist_disease_depression.csv')
df_medhist_disease.head()

   Unnamed: 0  RID                                                  1
0           0   14  ['depress', '1988', 'treat', 'antidepress', 't...
1           1   14  ['depress', '1988', 'treat', 'antidepress', 't...
2           2   20  ['mild', 'depress', 'start', '7/1993', 'treat'...
3           3   20  ['mild', 'depress', 'start', '7/1993', 'treat'...
4           4   26  ['depress', 'six', 'month', 'ago', 'treat', 'c...

In [32]:
df_REGISTRY.RID.nunique(),df_PTDEMOG.RID.nunique(),df_DX.RID.nunique(),df_medhist_disease['RID'].nunique()

(4182, 4080, 2957, 755)

In [16]:
df_REGISTRY.columns

Index(['Phase', 'ID', 'RID', 'SITEID', 'VISCODE', 'VISCODE2', 'USERDATE',
       'USERDATE2', 'PTSTATUS', 'RGSTATUS', 'VISTYPE', 'EXAMDATE', 'RGCONDCT',
       'RGREASON', 'RGOTHSPE', 'RGSOURCE', 'RGRESCRN', 'RGPREVID', 'CHANGTR',
       'CGTRACK', 'CGTRACK2', 'update_stamp'],
      dtype='object')

In [17]:
df_REGISTRY.USERDATE.dropna().shape

(26272,)

In [34]:
df_REGISTRY['VISCODE2'].value_counts().head() #sc, bl match RID.unique?

sc     3828
bl     2453
m12    2198
m24    1864
m06    1705
Name: VISCODE2, dtype: int64

In [18]:
df_REGISTRY.groupby('Phase')['RID'].nunique()

Phase
ADNI1     1386
ADNI2     1685
ADNI3     1551
ADNIGO     616
Name: RID, dtype: int64

In [19]:
# [['Phase',  'RID',  'VISCODE', 'VISCODE2', 'USERDATE','EXAMDATE', 'update_stamp']]

In [20]:
df_REGISTRY[df_REGISTRY['RID']==2][['Phase',  'RID',  'VISCODE2', 'USERDATE']]

        Phase  RID VISCODE2    USERDATE
0       ADNI1    2       sc  2005-08-17
9       ADNI1    2       bl  2005-09-12
367     ADNI1    2      m06  2006-03-07
1411    ADNI1    2      m12  2006-09-14
2683    ADNI1    2      m18  2007-03-27
3571    ADNI1    2      m24  2007-09-22
4529    ADNI1    2      m30  2008-04-25
5035    ADNI1    2      m36  2008-08-27
7001    ADNI1    2      m42  2010-07-22
7002    ADNI1    2      m48  2010-07-22
7088    ADNI1    2      m54  2010-09-22
7760   ADNIGO    2       sc  2010-09-22
7761   ADNIGO    2      m60  2010-09-22
8465   ADNIGO    2      m66  2011-03-09
9833    ADNI2    2      m72  2011-09-20
11277   ADNI2    2      m78  2012-03-26
12923   ADNI2    2      m84  2012-09-26
14210   ADNI2    2      m90  2013-03-25
15546   ADNI2    2      m96  2013-09-09
16779   ADNI2    2     m102  2014-03-17
17768   ADNI2    2     m108  2014-12-29
19032   ADNI2    2     m114  2015-08-24
19218   ADNI2    2     m120  2015-09-24
20597   ADNI2    2     m126  2016-09-27
20598   ADNI2    2     m132  2016-09-27
21593   ADNI3    2     m144  2017-10-26
23606   ADNI3    2      NaN  2019-09-13
24727   ADNI3    2      NaN  2021-04-08

In [22]:
df_PTDEMOG.columns

Index(['Phase', 'ID', 'RID', 'SITEID', 'VISCODE', 'VISCODE2', 'USERDATE',
       'USERDATE2', 'PTSOURCE', 'PTGENDER', 'PTDOBMM', 'PTDOBYY', 'PTHAND',
       'PTMARRY', 'PTEDUCAT', 'PTWORKHS', 'PTWORK', 'PTWRECNT', 'PTNOTRT',
       'PTRTYR', 'PTHOME', 'PTOTHOME', 'PTTLANG', 'PTPLANG', 'PTPSPEC',
       'PTCOGBEG', 'PTMCIBEG', 'PTADBEG', 'PTADDX', 'PTETHCAT', 'PTRACCAT',
       'update_stamp'],
      dtype='object')

In [23]:
# [['RID', 'SITEID', 'VISCODE', 'VISCODE2','USERDATE2','USERDATE','PTDOBMM', 'PTDOBYY','PTRTYR']]

In [24]:
df_PTDEMOG[['RID', 'PTDOBMM', 'PTDOBYY']].dropna().drop_duplicates().shape

(4078, 3)

In [25]:
df_PTDEMOG[['RID', 'USERDATE','PTDOBMM', 'PTDOBYY']].RID.nunique()

4080

In [26]:
df_PTDEMOG[df_PTDEMOG['RID']==1417][['RID', 'USERDATE', 'PTDOBMM', 'PTDOBYY']].dropna().drop_duplicates()

       RID    USERDATE  PTDOBMM  PTDOBYY
1368  1417  2007-06-27      6.0   1944.0
1544  1417  2010-09-07      6.0   1944.0
2368  1417  2011-09-02      6.0   1944.0

In [27]:
# df_PTDEMOG[['RID','PTDOBMM', 'PTDOBYY']].dropna().drop_duplicates().RID.value_counts()

In [28]:
df_PTDEMOG[['RID','PTDOBMM', 'PTDOBYY']].dropna().drop_duplicates().head()

   RID  PTDOBMM  PTDOBYY
0    2      4.0   1931.0
1    1     12.0   1944.0
2    3      5.0   1924.0
3    4      1.0   1938.0
4    5     12.0   1931.0

In [36]:
df_REGISTRY_Age=pd.merge(df_REGISTRY[['Phase',  'RID',  'VISCODE2', 'USERDATE']].dropna().drop_duplicates(),df_PTDEMOG[['RID','PTDOBMM', 'PTDOBYY']].dropna().drop_duplicates(),on='RID')
df_REGISTRY_Age.RID.nunique()

4076

In [39]:
df_REGISTRY_Age[df_REGISTRY_Age['RID']==2].head()

   Phase  RID VISCODE2    USERDATE  PTDOBMM  PTDOBYY
0  ADNI1    2       sc  2005-08-17      4.0   1931.0
1  ADNI1    2       bl  2005-09-12      4.0   1931.0
2  ADNI1    2      m06  2006-03-07      4.0   1931.0
3  ADNI1    2      m12  2006-09-14      4.0   1931.0
4  ADNI1    2      m18  2007-03-27      4.0   1931.0

In [51]:
def convert_to_datetime(df):
    year = int(df['PTDOBYY'])
    month= int(df['PTDOBMM'])    
    base_date = pd.to_datetime(f'{year}-{month}-01')
    return base_date 
df_REGISTRY_Age[['DOB_mm_yy']]=df_REGISTRY_Age[['PTDOBMM','PTDOBYY']].apply(convert_to_datetime,axis=1)

In [58]:
# df_REGISTRY_Age['DOB_mm_yy'].dropna().shape,df_REGISTRY_Age['PTDOBYY'].dropna().shape

In [109]:
# df_REGISTRY_Age[['USERDATE_tf']]=df_REGISTRY_Age[['USERDATE']].apply(pd.to_datetime)
# df_REGISTRY_Age['DOB_indays']=df_REGISTRY_Age['USERDATE_tf'] - df_REGISTRY_Age['DOB_mm_yy']
df_REGISTRY_Age['DOB_inyears']=df_REGISTRY_Age['DOB_indays'].dt.days/365

In [115]:
df_REGISTRY_Age[df_REGISTRY_Age['RID']==2].head(10)

,Phase,RID,VISCODE2,USERDATE,PTDOBMM,PTDOBYY,DOB_mm_yy,USERDATE_tf,DOB_indays,DOB_inyears
0,ADNI1,2,sc,2005-08-17,4.0,1931.0,1931-04-01,2005-08-17,27167 days,74.430137
1,ADNI1,2,bl,2005-09-12,4.0,1931.0,1931-04-01,2005-09-12,27193 days,74.501370
2,ADNI1,2,m06,2006-03-07,4.0,1931.0,1931-04-01,2006-03-07,27369 days,74.983562
3,ADNI1,2,m12,2006-09-14,4.0,1931.0,1931-04-01,2006-09-14,27560 days,75.506849
4,ADNI1,2,m18,2007-03-27,4.0,1931.0,1931-04-01,2007-03-27,27754 days,76.038356
5,ADNI1,2,m24,2007-09-22,4.0,1931.0,1931-04-01,2007-09-22,27933 days,76.528767
6,ADNI1,2,m30,2008-04-25,4.0,1931.0,1931-04-01,2008-04-25,28149 days,77.120548
7,ADNI1,2,m36,2008-08-27,4.0,1931.0,1931-04-01,2008-08-27,28273 days,77.460274
8,ADNI1,2,m42,2010-07-22,4.0,1931.0,1931-04-01,2010-07-22,28967 days,79.361644
9,ADNI1,2,m48,2010-07-22,4.0,1931.0,1931-04-01,2010-07-22,28967 days,79.361644

In [133]:
df_adnimerge[['RID','VISCODE','EXAMDATE','AGE','Years.bl','Month.bl','Month','M']].head()

   RID VISCODE   EXAMDATE   AGE  Years.bl   Month.bl  Month   M
0    2      bl   9/8/2005  74.3  0.000000   0.000000    0.0   0
1    2     m06   3/6/2006  74.3  0.490075   5.868852    6.0   6
2    2     m36  8/27/2008  74.3  2.967830  35.540984   36.0  36
3    2     m60  9/22/2010  74.3  5.037645  60.327869   60.0  60
4    2     m66   3/4/2011  74.3  5.483915  65.672131   66.0  66

In [136]:
df_adnimerge_REGISTRY_Age=df_adnimerge[df_adnimerge['VISCODE']=='bl'][['RID','VISCODE','EXAMDATE','AGE']].merge(df_REGISTRY_Age[df_REGISTRY_Age['VISCODE2']=='bl'][['RID','VISCODE2','USERDATE','DOB_mm_yy','DOB_inyears']])
df_adnimerge_REGISTRY_Age.head(2)

   RID VISCODE   EXAMDATE   AGE VISCODE2    USERDATE  DOB_mm_yy  DOB_inyears
0    2      bl   9/8/2005  74.3       bl  2005-09-12 1931-04-01    74.501370
1    3      bl  9/12/2005  81.3       bl  2005-09-14 1924-05-01    81.427397

In [137]:
df_adnimerge_REGISTRY_Age['diff_error']=df_adnimerge_REGISTRY_Age['DOB_inyears']-df_adnimerge_REGISTRY_Age['AGE']

In [138]:
# 0.427*12

In [140]:
df_adnimerge_REGISTRY_Age.sort_values(by='diff_error').tail()

,RID,VISCODE,EXAMDATE,AGE,VISCODE2,USERDATE,DOB_mm_yy,DOB_inyears,diff_error
1641,5146,bl,7/11/2013,72.9,bl,2014-01-08,1940-06-01,73.654795,0.754795
1677,5206,bl,9/3/2013,85.2,bl,2014-01-24,1928-03-01,85.958904,0.758904
436,761,bl,9/28/2006,71.0,bl,2007-06-08,1935-08-01,71.901370,0.901370
1315,4564,bl,3/20/2012,64.9,bl,2014-01-30,1947-04-01,66.879452,1.979452
1532,4936,bl,10/1/2012,48.1,bl,2012-11-07,1934-08-01,78.323288,30.223288

In [148]:
df_PTDEMOG[df_PTDEMOG['RID']==4936][['RID','VISCODE', 'VISCODE2', 'USERDATE', 'PTDOBMM', 'PTDOBYY']].head(2)

       RID VISCODE VISCODE2    USERDATE  PTDOBMM  PTDOBYY
3326  4936     v01       sc  2012-09-17      8.0   1934.0

In [16]:
df_APOERES.head()

,Phase,ID,RID,SITEID,VISCODE,USERDATE,USERDATE2,APTESTDT,APGEN1,APGEN2,APVOLUME,APRECEIVE,APAMBTEMP,APRESAMP,APUSABLE,update_stamp
0,ADNI1,4.0,2,107.0,sc,2005-08-23,NaN,8/22/2005,3,3,5.0,1.0,1.0,0.0,1.0,2005-08-23 00:00:00.0
1,ADNI1,6.0,3,107.0,sc,2005-08-23,NaN,8/22/2005,3,4,10.0,1.0,1.0,0.0,1.0,2005-08-23 00:00:00.0
2,ADNI1,8.0,4,10.0,sc,2005-08-23,NaN,8/22/2005,3,3,9.2,1.0,1.0,0.0,1.0,2005-08-23 00:00:00.0
3,ADNI1,10.0,5,107.0,sc,2005-08-29,NaN,8/29/2005,3,3,10.0,1.0,1.0,0.0,1.0,2005-08-29 00:00:00.0
4,ADNI1,12.0,7,10.0,sc,2005-09-06,NaN,9/5/2005,3,4,9.0,1.0,1.0,0.0,1.0,2005-09-06 00:00:00.0

In [135]:
# df_adnimerge.columns

In [21]:
# df_REGISTRY.USERDATE[0]

In [136]:
df_PTDEMOG[df_PTDEMOG['RID']==2]

,Phase,ID,RID,SITEID,VISCODE,VISCODE2,USERDATE,USERDATE2,PTSOURCE,PTGENDER,...,PTTLANG,PTPLANG,PTPSPEC,PTCOGBEG,PTMCIBEG,PTADBEG,PTADDX,PTETHCAT,PTRACCAT,update_stamp
0,ADNI1,18,2,107,sc,sc,2005-08-17,NaN,1.0,1.0,...,1.0,1.0,-4,NaN,NaN,-4.0,NaN,2.0,5.0,2005-08-17 00:00:00.0
1571,ADNIGO,304,2,8,sc,sc,2010-09-22,NaN,1.0,1.0,...,1.0,1.0,-4,NaN,NaN,NaN,NaN,2.0,5.0,2013-03-22 15:23:58.0
2404,ADNI2,636,2,8,v06,m72,2011-09-20,NaN,1.0,1.0,...,1.0,1.0,-4,9999.0,NaN,NaN,9999.0,2.0,5.0,2013-05-30 10:05:05.0

In [124]:
df_merge.VISCODE2.dropna().value_counts()

bl      2412
sc      2009
m12     1724
m06     1616
m24     1517
m36      885
m48      792
m60      396
m72      355
m18      342
m84      258
m96      206
m108     139
m120     114
m66       89
m78       88
m90       84
m132      57
m102      56
m54       54
m30       51
m114      42
m144      34
m126      29
m138      26
m156      26
m150      18
m42       16
m180      15
m162      10
m186       6
m168       5
m174       4
m192       3
m204       1
uns1       1
m198       1
Name: VISCODE2, dtype: int64

In [125]:
df_merge.loc[df_merge['RID']==168,:]

,RID,Phase,VISCODE2,EXAMDATE,DXCURREN,DXCONV,DXCONTYP,DXREV,DIAGNOSIS_all,DX
239,168,ADNI1,bl,2/20/2006,2.0,0.0,-4.0,-4.0,2.0,MCI
438,168,ADNI1,m06,8/21/2006,1.0,2.0,-4.0,1.0,1.0,MCI to NL
1342,168,ADNI1,uns1,4/16/2007,1.0,0.0,-4.0,-4.0,1.0,NL

In [126]:
df_merge.loc[df_merge['VISCODE2']=='uns1','VISCODE2']='m14'
df_merge.loc[df_merge['VISCODE2']=='bl','VISCODE2']='m0'
df_merge.loc[df_merge['VISCODE2']=='sc','VISCODE2']='m0'

In [128]:
df_merge.VISCODE2.dropna().str.extract('(\d+)').astype(int).value_counts()

0      4421
12     1724
6      1616
24     1517
36      885
48      792
60      396
72      355
18      342
84      258
96      206
108     139
120     114
66       89
78       88
90       84
132      57
102      56
54       54
30       51
114      42
144      34
126      29
156      26
138      26
150      18
42       16
180      15
162      10
186       6
168       5
174       4
192       3
198       1
14        1
204       1
dtype: int64

In [17]:
df_merge_EDU=pd.merge(df_merge, df_PTDEMOG[['RID','PTEDUCAT']].dropna(), on=['RID']).drop_duplicates()
df_merge.shape,df_merge_EDU.shape,df_merge.RID.nunique(),df_merge_EDU['RID'].nunique()

((13491, 10), (13876, 11), 2957, 2954)

In [18]:
df_merge_APOERES=pd.merge(df_merge, df_APOERES[['RID','APGEN1','APGEN2']].dropna(), on=['RID'])
df_APOERES[['RID','APGEN1','APGEN2']].dropna()['RID'].nunique(),df_merge_APOERES['RID'].nunique(),df_merge_EDU['RID'].nunique()

(2556, 2216, 2954)

In [19]:
df_merge_EDU_APOERES=pd.merge(df_merge_APOERES, df_PTDEMOG[['RID','PTEDUCAT']].drop_duplicates().dropna(), on=['RID'],how='left')
df_merge_EDU_APOERES['RID'].nunique(),df_merge_APOERES['RID'].nunique(),df_merge_EDU['RID'].nunique()

(2216, 2216, 2954)

In [20]:
df_merge_APOERES.shape,df_merge_EDU_APOERES.shape

((12464, 12), (12852, 13))

In [21]:
df_merge[df_merge['RID'].isin(df_medhist_disease['RID'].unique().tolist())]['RID'].nunique()

621

In [22]:
# df_merge[df_merge['RID']==2]

In [23]:
# df_merge_EDU.head(12)

In [24]:
df_merge_EDU[['RID','PTEDUCAT']].drop_duplicates()['RID'].value_counts().head(62)

973     2
1051    2
1387    2
1385    2
158     2
       ..
188     2
6234    1
5132    1
5102    1
1078    1
Name: RID, Length: 62, dtype: int64

In [25]:
df_merge_EDU[df_merge_EDU['RID']==376][['RID','PTEDUCAT']].drop_duplicates()

      RID  PTEDUCAT
2390  376      15.0
2392  376      14.0

In [26]:
df_merge_EDU_APOERES['psycond']='nodepress'
df_merge_EDU_APOERES['psycond_digital']=0

In [27]:
df_merge_EDU_APOERES.loc[df_merge_EDU_APOERES['RID'].isin(df_medhist_disease['RID'].unique().tolist()), 'psycond']='depress'
df_merge_EDU_APOERES.loc[df_merge_EDU_APOERES['RID'].isin(df_medhist_disease['RID'].unique().tolist()), 'psycond_digital']=1

In [28]:
df_merge_EDU_APOERES.shape

(12852, 15)

In [29]:
df_merge_EDU_APOERES.groupby('psycond')['RID'].nunique()

psycond
depress       534
nodepress    1682
Name: RID, dtype: int64

In [30]:
df_merge_EDU_APOERES['edu_status']='lowedu'
df_merge_EDU_APOERES['edu_status_digital']=0

In [31]:
high_edu_list=df_merge_EDU_APOERES[df_merge_EDU_APOERES['PTEDUCAT']>16].RID.unique()
len(high_edu_list)

930

In [32]:
df_merge_EDU_APOERES.loc[df_merge_EDU_APOERES['RID'].isin(high_edu_list), 'edu_status']='highedu'
df_merge_EDU_APOERES.loc[df_merge_EDU_APOERES['RID'].isin(high_edu_list), 'edu_status_digital']=1

In [33]:
df_merge_EDU_APOERES.head(2)

,RID,Phase,VISCODE2,EXAMDATE,DXCURREN,DXCONV,DXCONTYP,DXREV,DIAGNOSIS_all,DX,APGEN1,APGEN2,PTEDUCAT,psycond,psycond_digital,edu_status,edu_status_digital
0,2,ADNI1,bl,9/29/2005,1.0,0.0,-4.0,-4.0,1.0,NL,3,3,16.0,nodepress,0,lowedu,0
1,2,ADNI1,m06,3/6/2006,1.0,0.0,-4.0,-4.0,1.0,NL,3,3,16.0,nodepress,0,lowedu,0

In [34]:
df_merge_EDU_APOERES['APOE_status']=0

In [35]:
df_merge_EDU_APOERES.loc[(df_merge_EDU_APOERES['APGEN1']==4) & (df_merge_EDU_APOERES['APGEN2']==4), 'APOE_status']=2
df_merge_EDU_APOERES.loc[(df_merge_EDU_APOERES['APGEN1']!=4) & (df_merge_EDU_APOERES['APGEN2']==4), 'APOE_status']=1
df_merge_EDU_APOERES.loc[(df_merge_EDU_APOERES['APGEN1']==4) & (df_merge_EDU_APOERES['APGEN2']!=4), 'APOE_status']=1

In [36]:
df_merge_EDU_APOERES[['RID','DX']].groupby(['DX']).RID.nunique().sort_values(ascending=False)

DX
MCI          1134
NL            893
AD            705
MCI to AD     343
NL to MCI     101
MCI to NL      64
AD to MCI      12
NL to AD        3
Name: RID, dtype: int64

In [37]:
risk_group_rid=['RID','DX','APOE_status','edu_status','psycond']
risk_group_col=['DX','APOE_status','edu_status','psycond']

In [38]:
df_merge_EDU_APOERES[df_merge_EDU_APOERES['DX']=='NL'][risk_group_rid].groupby(risk_group_col).RID.nunique()

DX  APOE_status  edu_status  psycond
NL  0            highedu     depress       52
                             nodepress    254
                 lowedu      depress       49
                             nodepress    258
    1            highedu     depress       19
                             nodepress    102
                 lowedu      depress       19
                             nodepress    116
    2            highedu     depress        2
                             nodepress     12
                 lowedu      depress        1
                             nodepress      9
Name: RID, dtype: int64

In [39]:
df_merge_EDU_APOERES[df_merge_EDU_APOERES['DX']=='AD'][risk_group_rid].groupby(risk_group_col).RID.nunique()

DX  APOE_status  edu_status  psycond
AD  0            highedu     depress       29
                             nodepress     63
                 lowedu      depress       47
                             nodepress    109
    1            highedu     depress       31
                             nodepress     74
                 lowedu      depress       81
                             nodepress    141
    2            highedu     depress       12
                             nodepress     27
                 lowedu      depress       27
                             nodepress     64
Name: RID, dtype: int64

In [40]:
df_merge_EDU_APOERES[(df_merge_EDU_APOERES['DX']=='NL')&(df_merge_EDU_APOERES['APOE_status']==0)&(df_merge_EDU_APOERES['edu_status']=='lowedu')&(df_merge_EDU_APOERES['psycond']=='depress')][risk_group_rid].RID.nunique()

49

In [41]:
df_merge_EDU_APOERES[(df_merge_EDU_APOERES['DX']=='NL')&(df_merge_EDU_APOERES['APOE_status']==1)&(df_merge_EDU_APOERES['edu_status']=='lowedu')&(df_merge_EDU_APOERES['psycond']=='depress')][risk_group_rid].RID.nunique()

19

In [42]:
df_merge_EDU_APOERES[(df_merge_EDU_APOERES['DX']=='NL')&(df_merge_EDU_APOERES['APOE_status']==2)&(df_merge_EDU_APOERES['edu_status']=='lowedu')&(df_merge_EDU_APOERES['psycond']=='depress')][risk_group_rid].RID.nunique()

1

In [43]:
df_merge_EDU_APOERES.groupby(['APOE_status']).RID.nunique()

APOE_status
0    1200
1     804
2     212
Name: RID, dtype: int64

In [44]:
df_mri_all = pd.concat([df_mri_adni1, df_mri_adni2, df_mri_adni3]).sort_values(
    by=['RID', 'EXAMDATE'])
df_mri_all.shape

(6787, 398)

In [45]:
df_mri_all.head()

,RID,VISCODE,EXAMDATE,VERSION,LONISID,LONIUID,IMAGEUID,RUNDATE,STATUS,OVERALLQC,...,ST151SV,ST152SV,ST153SV,ST154SV,ST155SV,update_stamp,VISCODE2,COLPROT,IMAGETYPE,HIPPOQC
4,15,bl,2005-10-31,2013-08-07,2613.0,8833.0,33046,2013-08-07,partial,Pass,...,216157.0,433218.0,167556.0,550001.0,928508.0,2016-02-02 09:34:17.0,bl,NaN,NaN,NaN
1,15,m06,2006-05-02,2013-08-07,3695.0,13884.0,33041,2013-08-07,partial,Pass,...,218921.0,438581.0,171869.0,547856.0,931911.0,2016-02-02 09:34:17.0,m06,NaN,NaN,NaN
3,15,m12,2006-10-16,2013-08-07,5490.0,20311.0,63475,2013-08-07,partial,Pass,...,214105.0,431047.0,172974.0,548759.0,921761.0,2016-02-02 09:34:17.0,m12,NaN,NaN,NaN
2,15,m24,2007-10-11,2013-08-07,13281.0,41463.0,82551,2013-08-07,partial,Partial,...,216144.0,432367.0,168029.0,543261.0,923510.0,2016-02-02 09:34:17.0,m24,NaN,NaN,NaN
0,15,m36,2009-04-27,2013-08-07,21223.0,66778.0,160866,2013-08-07,partial,Pass,...,215448.0,429929.0,167857.0,534752.0,909236.0,2016-02-02 09:34:17.0,m36,NaN,NaN,NaN

In [46]:
# df_mri_all[df_mri_all.columns[df_mri_all.columns.isin(df_MRI_region_dict['ADNI Code'])]].shape

In [47]:
# df_mri_all[df_mri_all.columns[df_mri_all.columns.isin(df_mri_adni3_MRI_region_dict)]].shape

In [48]:
df_mri_all['VISCODE'].count(),df_mri_all['VISCODE2'].count()

(6787, 6787)

In [49]:
# df_mri_adni2[df_mri_adni2['VISCODE2']=='scmri']['RID'].value_counts().hist()

In [50]:
# df_merge[(df_merge['RID'].isin(df_merge_NL['RID'].unique().tolist()))]['DX'].value_counts()

In [51]:
df_mri_dict = pd.read_csv(file_loc + 'mri_regional_dict_proper_all.csv')
df_mri_dict.shape

(373, 3)

In [52]:
df_mri_all.loc[df_mri_all['VISCODE2']=='scmri','VISCODE2']='bl'
df_mri_all.loc[df_mri_all['VISCODE2']=='sc','VISCODE2']='bl'

In [53]:
df_mri_all_DX=pd.merge(df_mri_all, df_merge[['RID','Phase','VISCODE2','EXAMDATE', 'DX']], on=['RID','VISCODE2'])
df_mri_all_DX.shape,df_mri_all_DX.RID.nunique()

((5802, 401), 1735)

In [54]:
df_mri_all_DX[(df_mri_all_DX['Phase']=='ADNI3')&(df_mri_all_DX['VISCODE2']=='bl')][['RID','VISCODE','VISCODE2','EXAMDATE_x','Phase','EXAMDATE_y','DX']].head()

       RID VISCODE VISCODE2  EXAMDATE_x  Phase EXAMDATE_y   DX
4775  6001      sc       bl  2017-01-11  ADNI3  1/19/2017   NL
4777  6002      sc       bl  2017-01-23  ADNI3   2/2/2017  MCI
4779  6005      sc       bl  2017-03-09  ADNI3   5/3/2017   NL
4782  6007      sc       bl  2017-03-31  ADNI3  4/11/2017   NL
4785  6008      sc       bl  2017-04-12  ADNI3  5/26/2017   NL

In [55]:
df_mri_all_DX['DX'].value_counts()

MCI          2577
NL           2178
AD            824
MCI to AD     131
MCI to NL      42
NL to MCI      41
AD to MCI       5
Name: DX, dtype: int64

In [56]:
# df_mri_all_DX.groupby('Phase')['VISCODE2'].value_counts()

In [57]:
df_mri_all_DX_EDU=pd.merge(df_mri_all_DX, df_PTDEMOG[['RID','PTEDUCAT']], on=['RID']).drop_duplicates()
df_mri_all_DX.shape,df_mri_all_DX_EDU.shape

((5802, 401), (6163, 402))

In [58]:
sel_cols=['RID','VISCODE2'] + df_mri_adni3_MRI_region_dict + ['DX','PTEDUCAT']

In [59]:
df_mri_all_DX_EDU_sel_cols=df_mri_all_DX_EDU[sel_cols]
df_mri_all_DX_EDU_sel_cols.shape

(6163, 123)

In [60]:
df_mri_all_DX_EDU_sel_cols['psycond']='nodepress'
df_mri_all_DX_EDU_sel_cols['psycond_digital']=0

<ipython-input-60-47e21b62ee4e>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_mri_all_DX_EDU_sel_cols['psycond']='nodepress'
<ipython-input-60-47e21b62ee4e>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_mri_all_DX_EDU_sel_cols['psycond_digital']=0

In [61]:
df_mri_all_DX_EDU_sel_cols['psycond'].value_counts()

nodepress    6163
Name: psycond, dtype: int64

In [62]:
df_mri_all_DX_EDU_sel_cols.loc[df_mri_all_DX_EDU_sel_cols['RID'].isin(df_medhist_disease['RID'].unique().tolist()), 'psycond']='depress'
df_mri_all_DX_EDU_sel_cols.loc[df_mri_all_DX_EDU_sel_cols['RID'].isin(df_medhist_disease['RID'].unique().tolist()), 'psycond_digital']=1

E:\anaconda3\envs\tf\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

In [63]:
df_mri_all_DX_EDU_sel_cols['psycond'].value_counts()

nodepress    4600
depress      1563
Name: psycond, dtype: int64

In [64]:
df_mri_all_DX_EDU_sel_cols['edu_status']='lowedu'
df_mri_all_DX_EDU_sel_cols['edu_status_digital']=0

<ipython-input-64-3d5d11d01c2f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_mri_all_DX_EDU_sel_cols['edu_status']='lowedu'
<ipython-input-64-3d5d11d01c2f>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_mri_all_DX_EDU_sel_cols['edu_status_digital']=0

In [65]:
df_mri_all_DX_EDU_sel_cols[df_mri_all_DX_EDU_sel_cols['PTEDUCAT']>16].shape

(2572, 127)

In [66]:
high_edu_list=df_mri_all_DX_EDU_sel_cols[df_mri_all_DX_EDU_sel_cols['PTEDUCAT']>16].RID.unique()
len(high_edu_list)

763

In [67]:
df_mri_all_DX_EDU_sel_cols.loc[df_mri_all_DX_EDU_sel_cols['RID'].isin(high_edu_list), 'edu_status']='highedu'
df_mri_all_DX_EDU_sel_cols.loc[df_mri_all_DX_EDU_sel_cols['RID'].isin(high_edu_list), 'edu_status_digital']=1

E:\anaconda3\envs\tf\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

In [68]:
df_mri_all_DX_EDU_sel_cols['edu_status'].value_counts()

lowedu     3458
highedu    2705
Name: edu_status, dtype: int64

In [69]:
df_mri_all_DX_EDU_sel_cols.head(2)

,RID,VISCODE2,ST101SV,ST102CV,ST103CV,ST104CV,ST105CV,ST106CV,ST107CV,ST108CV,...,ST152SV,ST153SV,ST154SV,ST155SV,DX,PTEDUCAT,psycond,psycond_digital,edu_status,edu_status_digital
0,15,bl,1327.0,3080.0,1742.0,2705.0,2222.0,3726.0,2412.0,7716.0,...,433218.0,167556.0,550001.0,928508.0,NL,18.0,nodepress,0,highedu,1
2,15,m06,1527.0,2748.0,1593.0,2772.0,2147.0,3549.0,2103.0,7425.0,...,438581.0,171869.0,547856.0,931911.0,NL,18.0,nodepress,0,highedu,1

In [70]:
df_mri_all_DX_EDU_sel_cols['psycond_edu'] = df_mri_all_DX_EDU_sel_cols['psycond'] + '_' + df_mri_all_DX_EDU_sel_cols['edu_status']

<ipython-input-70-d3d6b46b5ffe>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_mri_all_DX_EDU_sel_cols['psycond_edu'] = df_mri_all_DX_EDU_sel_cols['psycond'] + '_' + df_mri_all_DX_EDU_sel_cols['edu_status']

In [71]:
df_mri_all_DX_EDU_sel_cols[['psycond','edu_status']].value_counts()

psycond    edu_status
nodepress  lowedu        2584
           highedu       2016
depress    lowedu         874
           highedu        689
dtype: int64

In [72]:
df_mri_all_DX_EDU_sel_cols['psycond_edu'].value_counts()

nodepress_lowedu     2584
nodepress_highedu    2016
depress_lowedu        874
depress_highedu       689
Name: psycond_edu, dtype: int64

In [73]:
di = {"nodepress_highedu":1, "nodepress_lowedu":2, "depress_highedu":3, "depress_lowedu":4}
# dr = {"NL": 1, "MCI" :2, "AD" :3, "NL to MCI" :4, "MCI to AD" :5, "NL to AD" :6, "MCI to NL" :7, "AD to MCI" :8, "AD to NL" :9}

df_mri_all_DX_EDU_sel_cols['psycond_edu_num']=df_mri_all_DX_EDU_sel_cols['psycond_edu']
df_mri_all_DX_EDU_sel_cols.replace({"psycond_edu_num": di},inplace=True)
df_mri_all_DX_EDU_sel_cols.head()

<ipython-input-73-91b2afd3eeac>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_mri_all_DX_EDU_sel_cols['psycond_edu_num']=df_mri_all_DX_EDU_sel_cols['psycond_edu']
E:\anaconda3\envs\tf\lib\site-packages\pandas\core\indexing.py:1745: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(ilocs[0], value)

,RID,VISCODE2,ST101SV,ST102CV,ST103CV,ST104CV,ST105CV,ST106CV,ST107CV,ST108CV,...,ST154SV,ST155SV,DX,PTEDUCAT,psycond,psycond_digital,edu_status,edu_status_digital,psycond_edu,psycond_edu_num
0,15,bl,1327.0,3080.0,1742.0,2705.0,2222.0,3726.0,2412.0,7716.0,...,550001.0,928508.0,NL,18.0,nodepress,0,highedu,1,nodepress_highedu,1
2,15,m06,1527.0,2748.0,1593.0,2772.0,2147.0,3549.0,2103.0,7425.0,...,547856.0,931911.0,NL,18.0,nodepress,0,highedu,1,nodepress_highedu,1
4,15,m12,1271.0,2742.0,1705.0,2816.0,2190.0,3785.0,2058.0,7659.0,...,548759.0,921761.0,NL,18.0,nodepress,0,highedu,1,nodepress_highedu,1
6,15,m24,1100.0,2734.0,1651.0,2660.0,2339.0,3742.0,2169.0,7463.0,...,543261.0,923510.0,NL,18.0,nodepress,0,highedu,1,nodepress_highedu,1
8,15,m36,1140.0,2556.0,1809.0,2730.0,2106.0,3608.0,2064.0,7469.0,...,534752.0,909236.0,NL,18.0,nodepress,0,highedu,1,nodepress_highedu,1

In [74]:
df_mri_all_DX_EDU_sel_cols.groupby(['psycond_edu'])['RID'].nunique()

psycond_edu
depress_highedu      151
depress_lowedu       200
nodepress_highedu    612
nodepress_lowedu     772
Name: RID, dtype: int64